<% if user_signed_in? %>
	<div class="hero-unit">
		<h1> Welcome to Dengtopia!</h1>
	</div>
<% else %>
	<div class="hero-unit">
		<h1>Welcome to Dengtopia!</h1>
		<p>
			Please sign up now to get the latest on
			<%= link_to "Steven Deng", "http://www.linkedin.com/in/stevendeng" %>
			.
		</p>
		<p> 
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>